@media (max-width: 768px)
    header
        nav
            .menu
                &_link
                    font-weight: 400
    .aboutme
        min-height: 400px
        &_avatar
            width: 200px
            height: 200px
        &_descr
            width: 400px
            font-size: 18px
        &_knowledges
            width: 400px
            font-size: 18px
    .title
        font-size: 36px
    .works
        &_list
            &_item
                &_link
                    font-size: 24px

@media (max-width: 576px)
    header
        nav
            .menu
                &_link
                    &:hover
                        color: $main-text
                        &::before, &::after
                            height: 0px
                    @include header_link_active
    .aboutme
        min-height: 400px
        &_wrapper
            flex-direction: column
        &_avatar
            width: 150px
            height: 150px
        &_badge
            margin-top: 15px
            text-align: center
            padding: 0
            font-size: 20px
            span
                font-size: 20px
        &_descr
            width: 250px
            font-size: 14px
        &_knowledges
            width: 250px
            font-size: 14px
    .works
        &_list
            margin-top: 10px
            &_item
                &_link
                    font-size: 16px
                    &:hover
                        color: $main-text
                        &::before, &::after
                            height: 0px
                    @include site_link_active
    .title
        font-size: 24px