@mixin header_link_hover
	transition: 0.3s all
	&:hover
		color: $vegas-gold
		&::before, &::after
			background-color: $vegas-gold
			height: 35px
@mixin header_link_active
	transition: 0.3s all
	&:active
		color: $vegas-gold
		&::before, &::after
			background-color: $vegas-gold
			height: 35px			

@mixin site_link_hover
	transition: 0.3s all
	&:hover
		color: $vegas-gold
		&::before, &::after
			background-color: $vegas-gold
			height: 35px

@mixin site_link_active
	transition: 0.3s all
	&:active
		color: $vegas-gold
		&::before, &::after
			background-color: $vegas-gold
			height: 35px
